@media (max-width: 768px){
    html {
        font-size: 68%; /* Reduces all rem values to 50% */
    }
    .mainimage {
        width: 300px;
        height: 400px;
    }
    .main-text {
        font-size: 8.5rem;
        font-weight: 300;
    }
    .about{
        height: 38rem;
    }
    .tap img{
        filter: saturate(9.4) brightness(0.55);
    }
    .comingsoon{
        justify-content: center;
        gap: 0rem;
        /* padding-bottom: 4rem; */
    }
    .comingsoon img{
        height: 8rem;
        padding-top: 0%;
    }
    .comingsoon h1{
        margin: 0%;
        padding-bottom: 3rem;
        font-size: 8rem;
    }

    .comingsoon::after {
        background-image: url(MEDIA/images/blackladiestablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.8);
        /* background-attachment: fixed; */
        }
    .movies .row .btn{
        visibility: hidden;
    }
}
@media (max-width: 480px){
    html {
        overflow-x: hidden;
        font-size: 40%; /* Reduces all rem values to 50% */
    }
    .mainimage {
        width: 260px;
        height: 380px;
    }
    .mainimage img {
        filter: sepia(0.2);
    }
    .main-text {
        font-size: 10.5rem;
        font-weight: 200;
        letter-spacing: 4px;
        font-family: "VintageMohai";
    }
    .about{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .about h1{
        font-size: 5rem;
    }
    .aboutimage{
        /* height: 2rem; */
        width: 100%;
        margin: 0%;
        height: 60%;
    }
    .aboutcontent{
        width: 100%;
        height: 80%;
        /* padding:50px 80px 50px 80px; */
    }

    .tap{
        visibility: hidden;
        width: 100%;
        height: 0%;
    }
    .about p{
        font-size: 1.5rem;
        padding: 0 2rem 0 3rem;
    }
    /* coming soon */
    .comingsoon img{
        height: 12rem;
    }
    .comingsoon h1{
        font-size: 11.5rem;
        letter-spacing: 3.8px;
        padding-bottom: 18rem;
    }
    .comingsoon::after {
    background-image: url(MEDIA/images/blackladiesmobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.8);
    /* background-attachment: fixed; */
    }
}